<div class="secrets-grid-wrapper">
    <div class="mat-elevation-z8">
        <div class="table-wrapper">
            <table mat-table [dataSource]="dataSource">

                <!-- View Button -->
                <ng-container matColumnDef="view">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td *matCellDef="let element" (click)="$event.stopPropagation()">
                        <button mat-icon-button type="button">
                            <mat-icon color="primary" (click)="viewSecret(element)">lock_open</mat-icon>
                        </button>
                    </td>
                </ng-container>
            
                <!-- Data Column -->
                <ng-container matColumnDef="data">
                    <th mat-header-cell *matHeaderCellDef> Data </th>
                    <td mat-cell *matCellDef="let element"> 
                        <div class="table-truncate__body">
                            {{element.data}}
                        </div>
                    </td>
                </ng-container>
            
                <!-- Encryption Key Column -->
                <ng-container matColumnDef="passphrase">
                    <th mat-header-cell *matHeaderCellDef> Encryption Key </th>
                    <td mat-cell *matCellDef="let element" class="table-truncate"> 
                        <div class="table-truncate__body">
                         {{element.passphrase}} 
                        </div>
                    </td>
                </ng-container>
            
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                
            </table>
        </div>
        
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
</div>