<div class="encrypt-form-wrapper">
    <div class="form-group">
        <form [formGroup]="cryptoForm" (ngSubmit)="onSubmit()">            
            <table>
                <tr>
                    <div class="form-group">
                        <td><label for="secret">Secret Text: </label></td>
                        <td><input type="text" formControlName="secret" required class="form-control" id="secret" [ngClass]="{'input-invalid': submitted && cryptoForm.controls['secret'].errors}"></td>
                        <td><button type="submit" class="btn btn-primary form-control">Encrypt Me!</button></td>
                        <td><div *ngIf="submitted && cryptoForm.controls['secret'] && cryptoForm.controls['secret'].errors && cryptoForm.controls['secret'].errors.required" class="invalid-field">You must inform your a value to encrypt!</div></td>
                    </div>
                </tr>
                <tr> 
                    <td colspan="4">
                        <div class="form-group">                  
                            <div *ngIf="output">{{output}}</div>
                        </div>  
                    </td>
                </tr>
            </table>  
        </form>
    </div>
</div>