.secrets-grid-wrapper {
    border: solid 1px #CCC;
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 15px;
    padding: 10px;
}

.secrets-grid-wrapper table {
    width: 100%;
}
  
.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.secrets-grid-wrapper .mat-elevation-z8 {    
    overflow-x: auto;
}

.secrets-grid-wrapper .mat-table.mat-table {
    min-width: 450px;
}