@import "../node_modules/@angular/material/prebuilt-themes/purple-green.css";

body { 
    background-color: #E8E8E8;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    color: #FE4949;
}

a:link {
    color: #FE4949;
}
  
a:visited {
    color: #FE4949;
}

a:hover {
    color: #FE4949;
}

input {
    height: 25px;
    font-size: 14pt;
    padding: 2px;
}

button {
    cursor: pointer;
}

.mat-icon-button .mat-icon, .mat-icon-button i {
    margin-top: 18px;
    color:  #FE4949;
}

.center-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
  }